.nav {
    border: 2px solid black;
    text-align: center;
    background-color: gainsboro;
}

header {
    margin-top: 100px;
    text-align: center;
}

.about {
    text-align: center;
    border-bottom: 2px solid black;
}

.search {
    margin-top: 100px;
    text-align: center;
}

form {
    display: inline-block;
}